.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #09011b;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.main {
  padding: 5rem;
  position: relative;
}
